registry=https://tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/23/2018.
; begin auth token
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI4NDEwNmFkNC0wNjI3LTQ5YjktYTIzYi05NzFkZjFjNWVlOTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYjcyNjgwNjgtNWVkZS00ODAyLTlkNGItOTVhZDZiN2UzNDA0Iiwic2lkIjoiNTI4MDM2ZmUtYzIxNS00ZWY5LTllOGEtZmU2ZTc4MzE0ZTNlIiwiaXNzIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwiYXVkIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwibmJmIjoxNTM3ODExODA0LCJleHAiOjE1NDU1ODc4MDR9.wo2PJvtJ3mO6WiSU6kaYCe6enTckRha4Dlh0svRoGidW9WQU5V1B4XgOgWvBZkUdy_C7W40vg9xaSTz_u5qUgSPyGpCTK01AAOzn5l8X_FAzrE8cK8lYv92EX4wJdvGYinnjIF3xfPPO_LTA_s6moddEDSBMLNIllBJzpb_w99Wusn92ku9-1SW_eCsc42fcvR6UzwWIDNo2N-m8mxANSLhHdTm3MgO8NNqAVqQQ9ax89zcp4XaMRAZrXgQpp2FdLgcZ9DlFZMsMbHfHMAErgnUABlwj8MqXu2heuPOf75mh4c_IY6BHFzxPOv31GFumyD_2JeTzOb52GzspkRgIYA
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI4NDEwNmFkNC0wNjI3LTQ5YjktYTIzYi05NzFkZjFjNWVlOTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYjcyNjgwNjgtNWVkZS00ODAyLTlkNGItOTVhZDZiN2UzNDA0Iiwic2lkIjoiNTI4MDM2ZmUtYzIxNS00ZWY5LTllOGEtZmU2ZTc4MzE0ZTNlIiwiaXNzIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwiYXVkIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwibmJmIjoxNTM3ODExODA0LCJleHAiOjE1NDU1ODc4MDR9.wo2PJvtJ3mO6WiSU6kaYCe6enTckRha4Dlh0svRoGidW9WQU5V1B4XgOgWvBZkUdy_C7W40vg9xaSTz_u5qUgSPyGpCTK01AAOzn5l8X_FAzrE8cK8lYv92EX4wJdvGYinnjIF3xfPPO_LTA_s6moddEDSBMLNIllBJzpb_w99Wusn92ku9-1SW_eCsc42fcvR6UzwWIDNo2N-m8mxANSLhHdTm3MgO8NNqAVqQQ9ax89zcp4XaMRAZrXgQpp2FdLgcZ9DlFZMsMbHfHMAErgnUABlwj8MqXu2heuPOf75mh4c_IY6BHFzxPOv31GFumyD_2JeTzOb52GzspkRgIYA
; end auth token