registry=https://tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/16/2018.
; begin auth token
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNGZhZDUyNmItMWI1OC00NzcwLWE1ODctNGU0NzNmZTcxMDk4Iiwic2lkIjoiZWYzMjQwNDYtOGIxOC00YWRjLWI0YzctNWVjZjNmZjNiNDEwIiwiaXNzIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwiYXVkIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwibmJmIjoxNTM3MjI0Nzc5LCJleHAiOjE1NDUwMDA3Nzl9.qitFHkceR4EEOWkUrdzs5EDI5DYjzxSttnEdK3qi2JMepxEC6ntCEJB-Nnf1Wa3MPVtW7aOJ3jMyub1wlshj43cltdZSiJgGPrwcVWb6-cVv4TpvlDUK17XcImT845t4RlI8R15ynIpuOxWVERcFG_IAyuwrpKqGtUNyYqYHLcz9cZIgvrOCcjuBs7h1xZRDze4cKP9EzGmKWHIWCnXId0DN8NwtUH146KWYAOKza7HzGfcx28pVJrWMND2lQFb2DKNJ5nvi7oyUcXuH7JKO5A9z5oK2Br0lyDQuoEaxjYkUoPvV3zT-RlwuYRdiFUkWIHXjswNW6-5jabt_LeIEfA
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNGZhZDUyNmItMWI1OC00NzcwLWE1ODctNGU0NzNmZTcxMDk4Iiwic2lkIjoiZWYzMjQwNDYtOGIxOC00YWRjLWI0YzctNWVjZjNmZjNiNDEwIiwiaXNzIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwiYXVkIjoiYWViN2Q0ZDktYWU0Ni00ZTJiLTgzMGMtZDlhYjI4MDkyMjI3IiwibmJmIjoxNTM3MjI0Nzc5LCJleHAiOjE1NDUwMDA3Nzl9.qitFHkceR4EEOWkUrdzs5EDI5DYjzxSttnEdK3qi2JMepxEC6ntCEJB-Nnf1Wa3MPVtW7aOJ3jMyub1wlshj43cltdZSiJgGPrwcVWb6-cVv4TpvlDUK17XcImT845t4RlI8R15ynIpuOxWVERcFG_IAyuwrpKqGtUNyYqYHLcz9cZIgvrOCcjuBs7h1xZRDze4cKP9EzGmKWHIWCnXId0DN8NwtUH146KWYAOKza7HzGfcx28pVJrWMND2lQFb2DKNJ5nvi7oyUcXuH7JKO5A9z5oK2Br0lyDQuoEaxjYkUoPvV3zT-RlwuYRdiFUkWIHXjswNW6-5jabt_LeIEfA
; end auth token